::ng-deep.cdk-overlay-pane {
  @media screen and (max-width: 575px) {
    min-width: 100vw;
  }
}

::ng-deep.mat-dialog-container {
  display: block;

  // vertical-align: middle;

  max-width: 880px;
  width: 100%;

  padding: 0;

  position: relative;

  text-align: left;

  background: #fff;
  border-radius: 10px;

  overflow: visible;

  @media screen and (max-width: 991px) {
    max-width: none;
  }
}

.basket-modal-container {
  padding: 50px 100px;

  overflow: hidden;

  text-align: left;

  @media screen and (max-width: 991px) {
    padding: 50px 60px;

    @media screen and (max-width: 575px) {
      padding: 35px 15px 30px;
    }
  }
}

.basket_inner {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(152, 152, 157, 0.5);
}

.cart-items {
  position: relative;
}

.basket_title {
  margin-bottom: 25px;

  @media screen and (max-width: 575px) {
    margin-bottom: 20px;
  }
}

.basket_pr {
  position: relative;

  display: flex;
  align-items: center;
  text-align: left;

  padding: 11px 40px 11px 6px;
  border-radius: 10px;

  font-family: "Montserrat Regular";
  font-size: 15px;
  margin-bottom: 10px;

  transition: opacity 0.4s ease-out;

  @media screen and (max-width: 575px) {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

    .basket_pr-btn-close {
      opacity: 1;
    }

    .thumb-input-number {
      button {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 575px) {
    &:hover {
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);

      .basket_pr-btn-close {
        opacity: 1;
      }

      .thumb-input-number {
        button {
          opacity: 1;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-content {
    align-self: flex-start;

    padding: 10px;
    word-break: break-word;

    @media screen and (max-width: 575px) {
      padding: 5px;
    }

    .basket_pr-weight {
      font-size: 13px;
      color: #98989d;

      margin-bottom: 5px;

      @media screen and (max-width: 575px) {
        font-size: 11px;
      }
    }

    .basket_pr-title {
      font-size: 17px;
      line-height: 1.375;

      color: #22262a;

      @media screen and (max-width: 575px) {
        font-size: 13px;
      }
    }
  }

  &-controls {
    width: 102px;
    flex-shrink: 0;
    align-self: center;
    margin-left: auto;
    padding: 10px 10px 10px 0;
    text-align: center;
  }

  &-img {
    position: relative;
    max-width: 101px;

    text-align: center;

    overflow: hidden;

    @media screen and (max-width: 575px) {
      max-width: 80px;
    }

    img {
      width: 100%;
    }
  }
}

.thumb-input-number {
  display: inline-flex;
  align-items: center;

  color: #22262a;

  line-height: 1;

  button {
    opacity: 0;

    cursor: pointer;
    position: relative;
    width: 26px;
    height: 26px;

    background: #3aad49;
    border-radius: 50%;

    transition: all 0.25s ease;

    color: #fff;

    backface-visibility: hidden;

    &:active {
      transform: translateY(3px);
    }

    &::before {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      font-size: 24px;
      line-height: 26px;
      transform-origin: center center;
      backface-visibility: hidden;
    }

    &.decrement {
      &::before {
        content: "-";
      }
    }

    &.increment {
      &::before {
        content: "+";
      }
    }
  }

  .product_count {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 26px;
    line-height: 26px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }
}

.basket_pr-total {
  .symbol-price {
    font-size: 12px;
  }
}

.basket_pr-btn-close {
  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;

  transition: 0.25s;

  &:active {
    transform: translateY(3px);
  }

  &:before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 4px;
    background-color: #ed3544;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.25s;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover {
    &::before {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.basket_summary-top {
  display: flex;
  justify-content: space-around;

  margin-bottom: 20px;

  font-family: "Montserrat Regular";
  color: #22262a;

  @media screen and (max-width: 575px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    flex-direction: column;

    text-align: left;

    font-size: 15px;
  }

  > div {
    width: 50%;
    padding: 0 10px;

    line-height: 1.1em;

    @media screen and (max-width: 575px) {
      width: 100%;
      padding: 0;
    }
  }
}

.basket_summary {
  margin: 20px 30px 0;

  @media screen and (max-width: 575px) {
    margin-left: 0;
    margin-right: 0;

    font-size: 15px;
  }
}

.basket_bonuses {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  text-align: left;

  > :first-child {
    display: flex;
    align-items: center;

    padding-right: 10px;
  }

  > :last-child {
    flex-shrink: 0;
  }
}

.cart-total-wrapper {
  width: 100%;

  .basket_sum {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    text-align: left;

    line-height: 1.1em;

    color: #ed3544;

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;

      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }

    b:first-child {
      padding-right: 10px;

      color: #000;
    }
  }
}

.go-to-checkout {
  margin-bottom: 15px;

  border: 1px solid #3aad49;
  background: #3aad49;

  color: #fff;

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;

    opacity: 0.7;
  }
}

.text {
  font-size: 17px;
  line-height: 1.6em;

  @media screen and (max-width: 575px) {
    font-size: 15px;
  }
}

.h5 {
  font-size: 23px;
  line-height: 1.2;

  @media screen and (max-width: 767px) {
    font-size: 19px;
  }
}

.btn-close {
  position: absolute;
  top: -32px;
  right: -26px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 95px;
  height: 96px;

  transition: all 0.25s ease;
  color: #fff;

  font-family: "Montserrat Bold";
  font-size: 23px;
  text-align: center;

  @media screen and (max-width: 1199px) {
    width: 70px;
    height: 70px;
    font-size: 15px;

    @media screen and (max-width: 575px) {
      top: -30px;
      right: 5px;
    }
  }

  &:hover {
    img {
      opacity: 0.8;
    }
  }

  &:active {
    transform: translateY(3px);
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;

    width: 110px;
    height: 111px;

    pointer-events: none;

    transform: translate(-50%, -50%);
    transition: all 0.25s ease;

    background-image: url(/assets/icons/icon-cart-bg-lg.svg);
    background-size: 100% 100%;
    transform-origin: center;

    @media screen and (max-width: 1199px) {
      width: 82px;
      height: 82px;
    }
  }

  img {
    position: relative;

    width: 25px;
  }
}
