<div class="wrapper">
  <div class="footer_top">
    <div class="footer_top-bg">
    </div>
    <div class="container">

      <div class="row">
        <div class="col-lg-6">

          <div class="footer_top-content">
            <img src="assets/images/footer-decor.png" class="decor-img-footer">

            <div class="row">
              <div class="col-7 col-lg-8 col-xl-7 offset-xl-1">
                <ul class="icon-list">
                  <li>
                    <img src="assets/icons/icon-scooter-dark.svg" class="img">

                    <div>
                      <div class="h6"><b>Безкоштовна Доставка</b></div>
                      ЦІЛОДОБОВО до 29 хв
                    </div>
                  </li>
                  <li>
                    <img src="assets/icons/icon-phone-24-dark.svg" class="img">

                    <div>
                      <a href="#">0 800 20 40 40</a>
                    </div>
                  </li>
                  <li class="footer-visa" style="padding-left: 0;">
                    <img src="assets/images/visamaster.png">
                  </li>
                </ul>
              </div>

              <div class="col-5 col-lg-4">
                <nav class="footer_top-nav">
                  <ul>
                    <li><a [routerLink]="[ '/discount' ]" routerLinkActive="active">Акції</a></li>
                    <li><a [routerLink]="[ '/about' ]" routerLinkActive="active">Про нас</a></li>
                    <li><a [routerLink]="[ '/delivery' ]" routerLinkActive="active">Доставка</a></li>
                    <li><a [routerLink]="[ '/admin' ]" routerLinkActive="active">Франчайзинг</a></li>
                    <li><a [routerLink]="[ '/vacancies' ]" routerLinkActive="active">Вакансії</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 align-self-end">
          <div class="subscribe">
            <div class="decor_title">
              <div class="h2">Підпишіться на розсилку</div>
            </div>
            <div class="subtitle">
              Та отримуйте новини про знижки та AКЦІЇ!
            </div>

            <form class="subscribe-form">
              <label class="input-wrapper focus">
                <span class="floating-label">Вкажіть Вашу ел. скриньку</span>
                <span class="your_email">
                  <input type="text" class="input">
                </span>
              </label>

              <a href="#" class="btn-red" style="margin-top: 10px;">вiдправити</a>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer_bottom">
    <div class="scroll-top"><i></i></div>
    <div class="container">
      <div class="coryright">© 2015 – 2020 «Smaki-maki»</div>

      <nav class="footer_bottom-nav">
        <ul>
          <li>
            <a href="#">Політика використання cookies</a>
          </li>
          <li>
            <a href="#">Договір публічної оферти</a>
          </li>
          <li>
            <a href="#">Карта сайту</a>
          </li>
        </ul>
      </nav>

      <a href="#" class="dev">
        Development by
        <img src="assets/images/redstone.svg" class="img">
      </a>
    </div>
  </div>
</div>
