<app-current-discount></app-current-discount>

<div class="discount-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="block-title">
          <h1 class="h3">
            <b class="caveat">Акції</b>
          </h1>
        </div>
      </div>
    </div>

    <div class="row left-right-row">

      <div class="col-md-5 col-xl-5">
        <img src="/assets/images/discount-1.jpg" class="img">
      </div>

      <div class="col-md-7 col-xl-7 align-self-center">

        <div class="discount_content">

          <div class="discount_title">
            <div class="h3">2+1 Кожна 3-я піца БЕЗКОШТОВНО</div>
          </div>

          <div class="discount_acticle">
            <p>
              <span>
                <strong class="strong">
                  Акція «2+1» діє в понеділок, вівторок, середу та четвер</strong>.
              </span>
              <span>
                Замовляйте 2 піци, а 3-ю отримуйте безкоштовно!
              </span>
            </p>

            <p class="discount_condition">
              <span>* Безкоштовною вважається піца з найменшою вартістю</span>
            </p>

            <p class="discount_condition">
              <span>** Акція не поєднується з іншими акціями</span>
            </p>

          </div>

        </div>

      </div>

    </div>

    <div class="row left-right-row">

      <div class="col-md-5 col-xl-5 order-md-2">
        <img src="/assets/images/discount-2.jpg" class="img">
      </div>

      <div class="col-md-7 col-xl-7 align-self-center">

        <div class="discount_content">

          <div class="discount_title">
            <div class="h3">3+1 Кожна 4-а піца БЕЗКОШТОВНО</div>
          </div>

          <div class="discount_acticle">
            <p>
              <span>
                <strong class="strong">
                  Акція «3+1» діє в п’ятницю, суботу та неділю</strong>.
              </span>
              <span>
                Замовляйте 3 піци, а 4-у отримуйте безкоштовно!
              </span>
            </p>

            <p class="discount_condition">
              <span>* Безкоштовною вважається піца з найменшою вартістю</span>
            </p>

            <p class="discount_condition">
              <span>** Акція не поєднується з іншими акціями</span>
            </p>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
