.header_full-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 2;

  height: 100%;
  max-height: 100vh;

  overflow: hidden;

  background-color: #22262a;
  color: #fff;

  clip-path: circle(0 at 50% 50%);
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
  will-change: clip-path;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    padding-top: 11vh;
    padding-bottom: 4vh;

    overflow: auto;
  }
}

::ng-deep header {
  &.active {
    .header_full-wrapper {
      clip-path: circle(70.7% at 50% 50%);
      transform: none;
    }
  }
}

.header_full-title {
  font-size: 23px;

  margin-top: auto;
  margin-bottom: 4.5vh;
}

.full_nav {
  display: flex;
  justify-content: space-around;

  width: 100%;

  font-size: 17px;
  line-height: 1.375;
}

.full_nav-right {
  width: 280px;
}

.login_area {
  padding-bottom: 3.5vh;
  margin-bottom: 2.5vh;

  border-bottom: 1px solid #98989d;

  &-icon {
    flex-shrink: 0;
    width: 30px;
  }

  &-buttons {
    margin-left: 20px;
  }
}

.icon-nav-list {
  width: 280px;

  color: #fff;

  li {
    position: relative;

    margin-bottom: 2vh;
    padding-left: 40px;

    font-family: "Montserrat Bold";
    font-size: 17px;

    line-height: 1.375;

    &:hover {
      span {
        color: #ed3544;
      }
    }

    a,
    button {
      display: inline-flex;
    }

    .img-wrap {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;

      flex-shrink: 0;
    }

    .desc {
      align-self: center;
      padding-left: 10px;

      color: #fff;
    }
  }

  .type2 {
    font-family: "Montserrat Regular";
    font-size: 15px;

    margin-top: 3vh;
    padding-top: 20px;

    border-top: 1px solid #98989d;
  }
}

.simple-nav-list {
  font-family: "Montserrat Regular";

  padding-left: 65px;

  li {
    &:not(:last-child) {
      margin-bottom: 2vh;
    }
  }

  a {
    color: #b1b0b0;

    &.active {
      color: #ed3544;
    }
  }
}

.header_full-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;

  width: 100%;

  color: #b1b0b0;

  .icon-list {
    > li {
      position: relative;

      padding-left: 48px;
      margin-bottom: 10px;

      font-family: "Montserrat Regular";
      font-size: 15px;

      .img {
        position: absolute;
        top: 4px;
        left: 0;

        max-width: 26px;
      }

      .h6 {
        font-size: 17px;
        line-height: 1.375;
        margin-bottom: -3px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.header_full-list {
  margin-right: 15px;

  li {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;

    a {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      height: 40px;
      width: 40px;

      svg path {
        transition: all 0.25s ease;
      }

      &:hover {
        svg {
          path {
            fill: #ed3544;
          }
        }
      }
    }
  }
}

.btn {
  margin-bottom: 1.5vh;
}

.btn-sign-up {
  color: #fff;
  background: #3aad49;

  border: 1px solid #3aad49;

  &:hover {
    background: #fff;
    color: #3aad49;
  }
}

.decor-img {
  position: absolute;
  pointer-events: none;

  &-1 {
    left: 55px;
    top: 14vh;
  }

  &-2 {
    right: 0;
    bottom: 0;
  }
}
