<div class="wrapper">

  <form class="form" (submit)="addNewSubcategory()">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" name="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Link value</mat-label>
      <input matInput [(ngModel)]="urlName" name="urlName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Choose category</mat-label>
      <mat-select [(ngModel)]="categoryID" name="categoryID">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button class="full-width">Add new subcategory</button>
  </form>

  <!-- 
  <table mat-table class="mat-elevation-z8" [dataSource]="subcategories">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Subcategory name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="categoryID">
      <th mat-header-cell *matHeaderCellDef>Category ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.categoryID }} </td>
    </ng-container>

    <ng-container matColumnDef="element">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="updateSubcategory(element)">Edit</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" (click)="deleteSubcategory(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table> -->

  <mat-accordion class="full-width">

    <mat-expansion-panel hideToggle *ngFor="let category of categories">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Category:
        </mat-panel-title>
        <mat-panel-description>
          {{ category.name }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container *ngIf="category.subcategories && category.subcategories.length > 0; else elseTemplate">
        <table mat-table class="mat-elevation-z8 full-width" [dataSource]="category.subcategories">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Subcategory name</th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>

          <ng-container matColumnDef="urlName">
            <th mat-header-cell *matHeaderCellDef>Subcategory link value</th>
            <td mat-cell *matCellDef="let element"> {{ element.urlName }} </td>
          </ng-container>

          <ng-container matColumnDef="categoryID">
            <th mat-header-cell *matHeaderCellDef>Category ID</th>
            <td mat-cell *matCellDef="let element"> {{ element.categoryID }} </td>
          </ng-container>

          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="primary" (click)="updateSubcategory(element)">Edit</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="warn" (click)="deleteSubcategory(element.id)">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
      <ng-template #elseTemplate>
        This category dont have subcategories
      </ng-template>

    </mat-expansion-panel>

  </mat-accordion>

</div>

<!-- <mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-option *ngFor="let topping of toppingList" [value]="topping" (click)="checkTopping(topping)">{{topping}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
