<div class="wrapper">
  <form class="form" (submit)="addNewSubcategory()">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" name="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Link value</mat-label>
      <input matInput [(ngModel)]="urlName" name="urlName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Choose category</mat-label>
      <mat-select [(ngModel)]="categoryID" name="categoryID">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button class="full-width">Add new subcategory</button>
  </form>

  <table mat-table class="mat-elevation-z8" [dataSource]="subcategories">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Subcategory name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="urlName">
      <th mat-header-cell *matHeaderCellDef>Link value</th>
      <td mat-cell *matCellDef="let element"> {{element.urlName}} </td>
    </ng-container>

    <ng-container matColumnDef="categoryID">
      <th mat-header-cell *matHeaderCellDef>Category ID</th>
      <td mat-cell *matCellDef="let element"> {{element.categoryID}} </td>
    </ng-container>

    <ng-container matColumnDef="element">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="updateSubcategory(element)">Edit</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" (click)="deleteSubcategory(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
