$dark-grey: #22262a;
$light-red: #ed3544;

.header-top {
  position: relative;

  z-index: 1;

  box-shadow: 0 10px 10px rgb(0 0 0 / 15%);
  background: $dark-grey;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    max-width: 1620px;
    height: 65px;

    .hamburger {
      cursor: pointer;

      position: absolute;
      top: 10px;
      left: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 46px;
      height: 46px;

      transition: all 0.25s ease;

      &:hover {
        transform: rotate(90deg);
      }
    }

    .logo {
      cursor: pointer;

      position: absolute;
      left: 90px;
      top: 50%;

      transition: all 0.25s ease;

      transform: translateY(-50%);

      &:hover {
        opacity: 0.8;
      }
      &:active {
        transform: translateY(-45%);
      }

      img {
        display: inline-block;

        max-width: 100%;
        max-height: 100%;

        height: auto;

        vertical-align: top;
      }
    }

    .header_top-left {
      display: flex;
      align-items: center;

      margin-left: -10px;

      .dropdown {
        margin-right: 20px;
      }

      .current {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 2px;

        padding: 10px;
        padding-left: 15px;

        font-family: "Montserrat Bold", sans-serif;
        font-size: 17px;

        color: #fff;

        .icon-arrow {
          display: flex;
          align-items: center;

          padding-left: 5px;
        }
      }

      .header_top-nav {
        margin-left: 100px;

        ul {
          display: flex;
          align-items: center;

          li {
            display: inline-block;
            margin-right: 20px;

            a {
              display: inline-block;
              padding: 10px;

              font-family: "Montserrat Regular", sans-serif;
              font-size: 15px;

              color: #fff;

              transition: all 0.25s ease;

              &:hover {
                color: #ed3544;
              }
            }
          }
        }
      }
    }

    .header_top-center {
      .header_call {
        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: all 0.25s ease;

        &-content {
          display: inline-block;
          vertical-align: middle;

          margin-left: 3px;

          line-height: 15px;

          .header_call-phone {
            font-family: "Montserrat Bold", sans-serif;
            font-size: 15px;
          }

          .header_call-text {
            font-family: "Montserrat Regular", sans-serif;
            font-size: 13px;
          }
        }

        &:hover {
          color: $light-red;
        }
      }
    }

    .header_top-right {
      display: flex;
      align-items: center;

      .header_icon-list {
        margin-right: 15px;

        li {
          display: inline-block;
          font-size: 0;
          vertical-align: middle;

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            width: 40px;
            height: 40px;
          }

          &:hover {
            .svg {
              path {
                fill: $light-red;
              }
            }
          }
        }
      }

      .cart-icon {
        cursor: pointer;

        position: relative;
        top: 30px;

        z-index: 1;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 95px;
        height: 96px;

        font-size: 23px;
        text-align: center;

        transition: all 0.25s ease;

        .amount {
          position: absolute;
          top: 0;
          right: 0;

          width: 24px;
          height: 24px;

          box-shadow: 0 0 10px rgb(0 0 0 / 30%);
          background-color: #fff;
          border-radius: 50%;

          line-height: 24px;
          text-align: center;

          font-family: "Montserrat Medium";
          font-size: 11px;
          font-weight: 500;

          color: #98989d;
        }

        .price {
          position: relative;

          display: block;

          margin: 5px 0 2px;

          font-family: "Montserrat Bold";
          font-size: 23px;

          color: #fff;

          .symbol-price {
            font-size: 12px;
          }
        }

        .svg {
          position: relative;
          top: -5px;

          width: 24px;
          height: 22px;
        }

        &::before {
          content: "";

          position: absolute;
          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          background-image: url(//smaki-maki.com/wp-content/themes/smaki/css/../img/icons/icon-card-bg.svg);
          background-size: 100% 100%;
          transform-origin: center;

          transition: 0.25s;
          pointer-events: none;

          width: 110px;
          height: 111px;

          background-image: url(/assets/icons/icon-cart-bg-lg.svg);
        }

        &:active {
          transform: translateY(3px);
        }
      }
    }
  }
}
