<div class="container page-detail">
  <div class="row product-nav-wrapper" *ngIf="product">
    <div class="product-nav">
      <a href="#" class="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="26" viewBox="0 0 15 26" fill="none">
          <path d="M14 1L2 13L14 25" stroke="black" stroke-opacity="0.15" stroke-width="2" stroke-linecap="round">
          </path>
        </svg>
      </a>

      <a href="#" class="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="26" viewBox="0 0 15 26" fill="none">
          <path d="M1 1L13 13L1 25" stroke="black" stroke-opacity="0.15" stroke-width="2" stroke-linecap="round"></path>
        </svg>
      </a>
    </div>

    <div class="col-12 col-xl-11 offset-xl-1">
      <ul class="breadcrumbs">
        <li>
          <a [routerLink]="[ '' ]">Головна</a>
        </li>
        <li>
          <a [routerLink]="[ linkBack ]">{{ subcategoryName }}</a>
        </li>
        <li>
          <span>{{ product.name }}</span>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
      <div class="detail-img-wrap">
        <div class="detail-img">
          <img class="img" [src]="product.imageDetails">
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-5 col-xl-5">
      <div class="details_desc">
        <div class="details_desc-top">

          <div class="weight">
            <span class="product-weight">{{ product.weight }}</span>
          </div>

          <div class="h4 title">
            <b>{{ product.name }}</b>
          </div>

          <div class="description">
            {{ product.description }}
          </div>

          <button type="button" class="cart-icon">
            <span class="amount">0</span>
            <span class="price">
              <span class="product-price">
                {{ product.price.split(' ')[0] }}
                <span class="symbol-price">{{ product.price.split(' ')[1] }}</span>
              </span>
            </span>

            <img class="img" src="/assets/icons/icon-cart.svg">

          </button>
        </div>
      </div>

      <ul class="icons_list">
        <li>
          <img src="/assets/icons/icon-list-scooter.svg" class="img">
          <p>Доставимо до <span style="color: #e94545"><b>29</b></span> хвилин або даруємо піцу/рол за спізнення</p>
        </li>
        <li>
          <img src="/assets/icons/icon-list-info.svg" class="img">
          <p>Всі замовлення містять васабі, маринований імбир і соєвий соус в обсязі, достатньому для вживання
            замовленого. На 1 рол розраховано 2 набори паличок.</p>
        </li>
        <li>
          <img src="/assets/icons/icon-list-money.svg" class="img">
          <p>За кожну покупку, Ви отримуєте 5% на Ваш бонусний рахунок</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="row medium-top-offset">
    <div class="col-12 text-center">
      <div class="block-title2 h4">
        <b>Спробуйте також</b>
      </div>
    </div>
  </div>

  <swiper [slidesPerView]="4" [spaceBetween]="0" *ngIf="recommendedProducts" class="row swiper">

    <ng-template swiperSlide *ngFor="let recommendedProduct of recommendedProducts" class="col-xl-3 col-md-4 col-6">
      <div class="product">
        <div class="product_discount" *ngIf="recommendedProduct.discount">
          {{ recommendedProduct.discount.split(' ')[0] }}
          <sup><span class="symbol-price">{{ recommendedProduct.discount.split(' ')[1] }}</span></sup>
        </div>

        <a [routerLink]="[ '/products/sushi/' + '/' + 'rolls' + '/'+  recommendedProduct.id ]" class="product_image">
          <img class="img" [src]="recommendedProduct.image">
        </a>

        <div class="product_bottom">
          <div class="product_weight">{{ recommendedProduct.weight }}</div>

          <a [routerLink]="[ '/products/sushi/' + '/' + 'rolls' + '/'+  recommendedProduct.id ]"
            class="product_title">{{ recommendedProduct.name }}</a>

          <div class="product_controls">
            <span class="price">{{ recommendedProduct.price.split(' ')[0] }} <span
                class="symbol-price">{{ recommendedProduct.price.split(' ')[1] }}</span></span>

            <div class="product_controls_inner">
              <button type="button" class="btn btn-sm buy-button addBtn">
                Купити
              </button>
            </div>
          </div>

          <div class="hover_bottom_info" *ngIf="product.description">
            <div class="product_description">
              {{ recommendedProduct.description }}
            </div>
          </div>
        </div>
      </div>

    </ng-template>

  </swiper>

</div>
