<app-current-discount></app-current-discount>

<div class="wrapper">
  <img src="/assets/images/about-decor2.png" class="img decor-bg decor-bg-1">
  <img src="/assets/images/about-decor1.png" class="img decor-bg decor-bg-2">

  <div class="container">
    <div class="row m-xl-70">
      <div class="col-xl-11 offset-xl-1">
        <div class="decor-title">
          <h1 class="h2">Про нас</h1>
        </div>
      </div>

      <div class="col-md-5 col-xl-5">
        <div class="about-article">
          <p>Smaki-Maki – доставка суші та піци у Львові</p>

          <img src="/assets/images/about-article-img.jpg">
        </div>

        <div class="text-center">
          <a href="#" class="btn-red">залишити відгук</a>
        </div>
      </div>

      <div class="col-md-7 col-xl-7 relative">
        <ul class="quote_list">
          <li>
            <div class="title">
              <b>Чому ми найкращі?</b>
            </div>
            <div class="quote">
              <p>
                Смакі-макі – лідер доставки суші та піци в Західному регіоні з 2015 року. Ми активно розширюємо свою
                мережу, аби якомога більше українців могли насолоджуватись смачними стравами від Smaki-maki! Ми постійно
                працюємо над тим, щоб наші суші, роли, піца та інші страви були на найвищому кулінарному рівні!
                Авторські рецепти від бренд-шефа підкорили сотні тисяч клієнтів у Львові, Миколаєві та Івано-Франківську
                і в Сумах!
              </p>
            </div>
          </li>
          <li>
            <div class="title">
              <b>Чому ми найкращі?</b>
            </div>
            <div class="quote">
              <p>
                Смакі-макі – лідер доставки суші та піци в Західному регіоні з 2015 року. Ми активно розширюємо свою
                мережу, аби якомога більше українців могли насолоджуватись смачними стравами від Smaki-maki! Ми постійно
                працюємо над тим, щоб наші суші, роли, піца та інші страви були на найвищому кулінарному рівні!
                Авторські рецепти від бренд-шефа підкорили сотні тисяч клієнтів у Львові, Миколаєві та Івано-Франківську
                і в Сумах!
              </p>
            </div>
          </li>
          <li>
            <div class="title">
              <b>Чому ми найкращі?</b>
            </div>
            <div class="quote">
              <p>
                Смакі-макі – лідер доставки суші та піци в Західному регіоні з 2015 року. Ми активно розширюємо свою
                мережу, аби якомога більше українців могли насолоджуватись смачними стравами від Smaki-maki! Ми постійно
                працюємо над тим, щоб наші суші, роли, піца та інші страви були на найвищому кулінарному рівні!
                Авторські рецепти від бренд-шефа підкорили сотні тисяч клієнтів у Львові, Миколаєві та Івано-Франківську
                і в Сумах!
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
