<div class="cabinet_wrapper">
  <img src="/assets/images/cabinet-face.png" class="img-decor">

  <section class="container page-offset">
    <div class="row m-xxl-50">

      <div class="col-12 text-center">
        <h1 class="h4">
          <b>Особистий кабінет</b>
        </h1>
      </div>

      <div class="col-sm-6 offset-sm-3 col-lg-3 offset-lg-0">
        <div class="account item-shadow item-radius">
          <div class="account_top">
            <div class="upload_wrap">

              <div class="account_avatar">
                <img src="/assets/images/preloader.jpg">
              </div>

              <div class="simple-link">
                Змінити фотографію
                <input type="file" class="avatar-input">
              </div>

            </div>

            <ul class="account_list">
              <li>
                <div class="text-xs color-grey">
                  Користувач:
                </div>

                <div class="text">
                  <b>Roman</b>
                </div>
              </li>

              <li>
                <div class="text-xs color-grey">
                  Користувач:
                </div>

                <div class="text">
                  <b>Roman</b>
                </div>
              </li>

              <li>
                <div class="text-xs color-grey">
                  Користувач:
                </div>

                <div class="text">
                  <b>Roman</b>
                </div>
              </li>

              <li>
                <div class="text-xs color-grey">
                  Користувач:
                </div>

                <div class="text">
                  <!-- <b>Roman</b> -->
                </div>
              </li>
            </ul>

          </div>

          <div class="account_bottom text-s">
            <span>на вашому рахунку</span>
            <span class="text account_bonus-count">
              <img src="/assets/icons/icon-cash-white.svg" class="img">
              <span>0</span>
            </span>
          </div>

        </div>

        <div class="text-center">
          <button type="button" class="simple-link" (click)="signOut()">Вийти з профілю</button>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="account_info item-shadow item-radius">
          <div class="tabs">
            <div class="tab-menu-wrap">

              <ul class="tabs-toggle">
                <li class="tab-menu">
                  <a [routerLink]="[ 'orders' ]" routerLinkActive="active">Замовлення</a>
                </li>
                <li class="tab-menu">
                  <a [routerLink]="[ 'profile' ]" routerLinkActive="active">Профіль</a>
                </li>
                <li class="tab-menu disabled">
                  <a [routerLink]="[ 'tracker' ]" routerLinkActive="active" class="disabled">Відстежити</a>
                </li>
              </ul>

              <div class="tab-entry-wrap">

                <div class="tab-entry">
                  <router-outlet></router-outlet>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
