<app-current-discount></app-current-discount>

<div class="wrapper">
  <img src="/assets/images/about-decor2.png" class="img decor-bg decor-bg-1">
  <img src="/assets/images/about-decor1.png" class="img decor-bg decor-bg-2">

  <section class="container delivery-page">

    <div class="row m-xl-70">

      <div class="col-xl-11 offset-xl-1">

        <div class="decor-title">
          <h1 class="h2">
            Доставка
          </h1>
        </div>

      </div>

      <div class="col-md-5 col-xl-5">

      </div>

      <div class="col-md-5 col-xl-5 relative">
        <ul class="icon-list">
          
        </ul>
      </div>
    </div>

  </section>
</div>
