/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~swiper/swiper-bundle";

.container {
  width: 100%;
  max-width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) {
    max-width: 1520px;

    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    padding-left: 90px;
    padding-right: 25px;

    max-width: 100%;
  }
}

html,
.body {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  border: 0;
  font-size: 100%;
  vertical-align: baseline;

  box-sizing: border-box;
}

button {
  border: none;
  outline: none;

  background: transparent;
}

a {
  color: #fff;

  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

svg path {
  transition: all 0.25s ease;
}

.text-xxl {
  font-size: 50px;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: top;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//===================

.btn-red {
  cursor: pointer;
  display: inline-block;

  min-width: 240px;

  padding: 15px 25px;

  vertical-align: bottom;

  text-align: center;

  position: relative;

  text-decoration: none;

  font-family: "Montserrat Bold";
  font-size: 13px;
  line-height: 18px;

  color: #fff;

  background: #ed3544;
  border-radius: 28px;
  border: 1px solid #ed3544;

  transition: all 0.25s ease;
  text-transform: uppercase;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
  }

  &:hover {
    background: #fff;
    color: #ed3544;
  }
}

// --------------

ul {
  margin: 0;

  list-style: none;
}

b {
  font-family: "Montserrat Bold" !important;

  &.caveat {
    font-family: "Caveat Bold" !important;
  }
}
