::ng-deep.mat-dialog-container {
  display: inline-block;

  vertical-align: middle;

  width: 100%;
  max-width: 380px;

  padding: 0;

  position: relative;

  text-align: left;

  background: #fff;
  border-radius: 10px;
}

.login-modal-wrapper {
  .bottom-text {
    margin-top: 15px;

    font-family: "Montserrat Regular";
    font-size: 13px;
    line-height: 1.6em;

    color: #98989d;

    button.btn-sign-up {
      cursor: pointer;
      color: #ed3544;
    }
  }
}

.login-modal-container {
  padding: 60px 40px 50px;

  overflow: hidden;

  text-align: center;

  .title {
    font-family: "Montserrat Bold";
    font-size: 23px;
  }

  .line-text {
    position: relative;
    display: block;

    margin: 60px 0 25px;

    color: #98989d;
    text-align: center;

    font-family: "Montserrat Regular";
    font-size: 13px;
    line-height: 1.6em;

    span {
      position: relative;
      display: inline-block;

      padding: 0 10px;

      background-color: #fff;
    }

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: 50%;

      width: 100%;
      height: 1px;

      background-color: rgba(152, 152, 157, 0.2);
    }
  }

  .form-group {
    text-align: center;

    .checkbox-thumbs-wrapper {
      margin-bottom: 10px;

      .checkbox-thumb {
        position: relative;

        margin-right: 15px;
        margin-bottom: 10px;

        input {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          opacity: 0;
        }

        span {
          display: inline-block;

          font-family: "Montserrat Regular";
          font-size: 15px;

          line-height: 18px;

          padding: 5px 25px;

          border: 1px solid #fff;
          border-radius: 15px;

          box-shadow: 0 0 15px rgb(0 0 0 / 10%);

          transition: all 0.25s ease;
        }

        input:checked + span {
          background-color: #ed3544;
          color: #fff;
          border-color: #ed3544;
        }
      }
    }

    .input-wrapper {
      position: relative;

      display: block;
      margin-bottom: 25px;

      text-align: left;

      &.focus {
        .floating-label {
          font-size: 11px;
          transform: translate(0, 0);
        }
      }

      .floating-label {
        display: inline-block;

        position: absolute;
        left: 8px;
        top: 100%;

        max-width: 100%;

        font-family: "Montserrat Medium";
        font-size: 15px;
        line-height: 18px;
        color: #98989d;

        transform: translate(0, -24px);
        transition: all 0.25s ease;

        pointer-events: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .input {
        margin: 0;
        padding: 0 8px;

        width: 100%;
        height: 30px;

        font-family: "Montserrat Regular";
        font-size: 15px;
        line-height: 30px;

        border-bottom: 1px solid rgba(152, 152, 157, 0.5);
        overflow: hidden;
        text-overflow: ellipsis;

        border-radius: 0;
        background: 0 0;

        &:focus,
        &:active {
          outline: 0;
        }
      }
    }

    .recovery-btn {
      cursor: pointer;
      position: relative;
      display: inline-block;

      color: #ed3544;

      font-family: "Montserrat Medium";
      font-size: 15px;
      line-height: 16px;

      transition: all 0.25s ease;
    }

    .sign-in-btn {
      margin-top: 25px;
    }
  }
}

.btn-close {
  position: absolute;
  right: 10px;
  top: 15px;

  width: 42px;
  height: 42px;

  transition: all 0.25s ease;

  &:before,
  &:after {
    content: "";

    position: absolute;
    width: 28px;
    height: 3px;

    border-radius: 4px;
    background-color: #ed3544;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.25s ease;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover {
    &:before {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &:active {
    transform: translateY(3px);
  }
}
